.connections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 260px;
    grid-gap: 40px;
    gap: 40px;
    overflow-y: scroll;
    max-height: 75vh;
    padding: 20px;

    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
        background-color: #222;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #FB6D3A;
    }
}
