@mixin connection-status($bg, $color) {
    background-color: $bg;
    color: $color;
    font-size: 12px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;

    span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color;
    }
}

.connections__item {
    background: #FFFFFF;
    box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    text-align: center;

    img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 0px 11px 16px rgba(0, 0, 0, 0.25);
    }

    &-active {
        @include connection-status(#CDFFCD, #007F00);
    }

    &-inactive {
        @include connection-status(#FFE0E0, #D30000);
    }
}
